<script>
  $(function(){
    $.ajax({
      url: '../../api/articles/',
      type: 'GET',
    }).done(function(data){
      data.articles.forEach(function(article){
        $("#article-shelter").append('<div class="col-sm-5 article-box"><div class="box-header"><a href="#">' + article.author.evernote.username + "</a> in " + article.tag + '</div><div class="box-content"><div>' + article.contentHTML + '</div><p class="read-more"><a href="/article/' + article._id + '" class="btn btn-link" style="color:white">Read More</a></p><p class="article-title">' + article.title + '</p></div></div>' )
      })
    });

  })
</script>
<div class="auth">
  <% var user = user || "" %>
    <% if(user != ""){ %>
      <h2>Below is the data sent by evernote</h2>
      <pre>
        <%= user.evernote %>
      </pre>
      <a href="/logout">Logout</a>
    <% } else { %>
      <!-- <a href="/auth/evernote" class="btn btn-success">Login with Evernote</a> -->
      <a href="/auth/evernote" class="btn btn-success">Login with Evernote</a>
    <% } %>
  </div>

<div class="container">
  <div id="article-shelter"></div>
</div>