<!DOCTYPE html>
<html>
<head>
  <title>Evernote authentication</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">

  <script src="/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/api.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>
<body>
  <h1 class="text-center site-logo">NotePress</h1>
  <div class="auth">
    <% if(user !== undefined){ %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <!-- <a href="/auth/evernote" class="btn btn-success">Login with Evernote</a> -->
      <a href="/local/login" class="btn btn-success">Login with Evernote</a>
    <% } %>
  </div>
  <hr>
  <%- body %>
</body>
</html>