<script>
  $(function(){
    $("#updateField").on('submit',function(e){
      e.preventDefault();
      var newUsername = { username: $("#username").val()};
      $.ajax({
        url: '../../api/user/update/<%- userId %>',
        type: 'POST',
        data: newUsername,
        success: function(data){
          console.log(data)
        }
      }).done(function(data){
        console.log("username Updated")
        window.location.href = '/';
      })
    })
  })
</script>
<div class="container">
<h1 class="text-center">Sign Up</h1>
<h2 class="text-center">Congrats! You have authenticate your evernote account.</h2>
<h2 class="text-center">Final step is to set an username</h2>
<div id="signup-box" class="center-block text-center">
  <form id="updateField">
    <div class="form-group">
      <input type="text" id="username" placeholder="your username on NotePress" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">GO AHEAD TO LINK WITH EVERNOTE</button>
  </form>
</div>

</div>