<div id="dashboard-title" class="center-block">
  <div class="circle" id="grav-target">
    <!-- <p class="icon ion-ios-people"></p> -->
  </div>
  <div id="user-meta"></div>
</div>
<div class="container">
  <!-- <div id="personal-header"></div> -->
  <div id="local-article">

  </div>
</div>
<script src="/js/users/index.js"></script>