<div id="dashboard-title" class="center-block">
  <div class="circle"><p class="icon ion-ios-people"></p>
  </div>
  <div id="user-meta"></div>
</div>
<div class="container">
  <!-- <div id="personal-header"></div> -->
  <div id="local-article">

  </div>
  <div id="article">
    <div class="container oneArticle">
      <div class="col-sm-10">
        <h1 class="article-title"></h1>
      </div>
      <div class="col-sm-2">
        <% if (user !== undefined) { %>
        <i class='icon ion-trash-a delete-article'></i>
        <% } %>
      </div>
    </div>
    <div>
      <pre class="article-content"></pre>
    </div>
    <small>Created at: <span class="article-date"></span></small>
  </div>
</div>
<script src="/js/users/index.js"></script>