body{
  font-family:'Open Sans', sans-serif;
}
h1{
  font-weight:900;
}
h2{
  font-weight:700;
}
.read-more{
  z-index: 2;
}
.site-logo{
  font-weight:900;
}
a.icon, i.icon, button.icon{
  font-size:30px;
  color:#333;
}
a.icon:hover{
  opacity: 0.5;
}
a.comment{
  font-size:20px;
  cursor:pointer;
}

.box-content{
  max-height:120px;
  position:relative;
  overflow: hidden;
}
.box-content .read-more{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
  margin:0;
  padding:30px 0;
  background-image: linear-gradient(to bottom, transparent, #444);

}
.box-content .article-title{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  margin:0;
  background:rgba(255,255,255,0.1);
  font-size:30px;
  font-family: 'Open Sans';
  font-weight:700;
}
#article-shelter{
  margin:0px auto;
  width:100%;
  max-height:150px;
}
.article-box{
  margin:0px 10px;
  /*background:rgba(100,120,80,1);*/
}
.showcase{
  margin:0 auto;
  width:80%;
}
#showcase-title{
  font-weight:900;
}
.comment{
  width:70%;
}
#signup-box{
  width:40%;
}
input[type=text]{
  border: 2px solid #ccc;
  font-size:20px;
  height:50px;

}