
body{
  font-family:'Open Sans', sans-serif;
  display:flex;
  min-height: 100vh;
  flex-direction:column;
}
.content{
  flex:1;
}
h1{
  font-weight:900;
}
h2{
  font-weight:700;
}
a{
  color:rgba(40,150,150,1);
}
footer{
  margin-top:50px;
  padding:5px;
  background:rgba(40,150,150,1);
  color:white;
  text-align:center;
}
footer a{
  color:white;
}
footer i:hover{
  color:white;
}
footer i.icon{
  font-size:25px;
}
.index-header{
  margin:20px auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding:10px 0px;
  font-size:25px;
  text-align: center;
  font-weight:300;
  color:gray;
}
#user-meta{
  font-size:20px;
}
.user-article{
  background:rgba(230,230,230,1);
  border-radius:5px;
  padding:10px;
}
.login-form, .signup-form{
  width:50%;
  margin:50px auto;
}
.circle p.icon{
  font-size:50px;
}
.circle img{
  border-radius:50px;
  width:100px;
  border: 2px solid #444;
}
#sort-title{
  padding:30px;
  background:rgba(40,150,150,1);
  height:200px;
  font-size:100px;
  font-weight:900;
  text-align:center;
}
#dashboard-title{
  padding:30px;
  background:rgba(40,150,150,1);
  height:200px;
  font-size:50px;
  font-weight:900;
  text-align:center;
  margin-bottom:100px;
}
#evernote-combo{
  /*border:1px solid black;*/
  padding:10px;
  background:rgba(230,230,230,1);
  border-radius:5px;
  height:500px;
  /*overflow:auto;*/
}
#notebook-list{
  overflow-x: auto;
  /*max-height:170px;*/
  background:rgba(230,230,230,1);
  padding:10px;
  border-radius:5px;
}
.evernote-notebook{
  width:95%;
  height:60px;
  border-radius:5px;
  margin: 5px auto;
  border: 1px solid #ccc;
  display:inline-block;
  padding:10px;
  vertical-align: bottom;
  cursor:pointer;
  background:white;
}
.evernote-select{
  width:180px;
  height:100px;
  border-radius:5px;
  margin: 7px auto;
  border: 1px solid #ccc;
  display:block;
  padding:10px;
  vertical-align: bottom;
  cursor:pointer;
  background:white;
}
.select-note-div{
  display:flex;
}
.select-notebook{
  flex:1;
  max-height:500px;
  overflow:auto;
}
.select-notes{
  flex:1;
  max-height:470px;
  overflow:auto;
}
#preview-evernote{
  border-radius:5px;
  background:white;
  padding:10px;
  height:400px;
  overflow: auto;
}
#notebook-meta *{
  /*font-weight:700;*/
  font-size:13px;
  cursor: pointer;
}
.evernote-select:hover{
  border: 1px solid rgba(50,150,200,1);
}
.preview-title{
  font-weight:700;
  font-size:13px;
  text-overflow: ellipsis;
  height:60px;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom:10px;
}
.preview-content-meta{
  font-size:13px;
  /*text-overflow: ellipsis;*/
  height:110px;
  overflow: hidden;
  white-space: nowrap;
}

.read-more, .read-more a{
  z-index: 2;
  color:rgba(40,150,150,1);
  font-weight:700;
}
.side-article-title {
  font-weight:900;
  font-size:30px;
  color:black;
  text-align:left;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.side-article-subtitle{
  color:rgba(200,200,200,0.8);
  font-size:20px;
  font-weight:300;
  padding-left:10px;
}
.article-subtitle{
  color:rgba(130,130,130,1);
  font-size:20px;
  font-weight:300;
  /*padding-left:5px;*/
  line-height:200%;
}
.stackbox{
  /*background:red;*/
  /*margin-top:50px;*/
  /*background:rgba(220,220,220,0.6);*/
  /*border:2px solid gray;*/
  border-radius:5px;
  position:relative;
  /*padding-top:50px;*/
  /*overflow-x:auto;*/
  /*overflow-y:auto;*/
}
.stackbox-content{
  /*overflow-y:auto;*/
  /*height:500px;*/
}
.stack-logo{
  /*position:absolute;*/
  /*top:-50px;*/
  /*left: 50px;*/
  width:50px;
  height:50px;
  background:white;
  /*color:white;*/
  border-radius:50px;
  border:2px solid gray;
}
.stack-logo img{
  width:100%;
}
.site-logo{
  font-weight:900;
  font-size:30px;
  color:rgba(40,150,150,1) !important;
}
a.icon{
  cursor:pointer;
}
a.icon, i.icon, button.icon{
  font-size:30px;
  color:#333;

}
a.icon:hover{
  opacity: 0.5;
}
a.comment{
  font-size:20px;
  cursor:pointer;
}
.box-content{
  max-height:150px;
  position:relative;
  overflow: hidden;
  border-radius:10px;
}
.box-content .read-more{
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  text-align:right;
  margin:0;
  padding:40px 0;
  background-image: linear-gradient(to bottom, transparent, #666);
  border-radius:10px;
}
.box-content-html{
  opacity:0.5;
}
.article-title {
  font-size:35px;
  font-family: 'Open Sans';
  font-weight:900;
  color:black;
}
.article-title:hover, .side-article-title:hover{
  color:rgba(40,150,150,1);
  text-decoration: none;
}
.box-content .article-title{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  margin:0;
  text-shadow: 2px 2px #ccc;
  /*background:rgba(230,230,230,0.5);*/
  font-size:35px;
  font-family: 'Open Sans';
  font-weight:700;
  padding:10px;
}
#article-shelter{
  /*margin:0px auto;*/
  /*width:100%;*/
  /*max-height:150px;*/
}
.article-box{
  margin:10px 10px;
  /*background:red;*/
  padding:10px;
  /*border-radius:10px;*/
  /*background:rgba(100,120,80,1);*/
}
.showcase{
  margin:0 auto;
  width:80%;
  border-radius:5px;
  background:rgba(220,220,220,0.6);
  padding:10px 30px;
}
hr{
  color:#333;
}
#showcase-title{
  font-weight:900;
}
.new-title div{
  margin:10px 0px;
}
.new-title label{
  font-size:30px;
  font-weight:900;
}
.comment{
  width:70%;
}
#all-comment{
  margin-top:20px;
}
#signup-box{
  width:40%;
}
input[type=text]{
  border: 2px solid #ccc;
  font-size:20px;
  height:50px;
}
.editable-wrapper{
  background:rgba(230,230,230,1);
  padding:20px;
}
.editable{
  height:500px;
  padding:20px;
  background:white;
  border-radius:5px;
  overflow-y:auto;
}
.preview-selected{
  border: 1px solid rgba(50,150,200,1) !important;
}
.article-tag{
  padding:5px 20px 5px 5px;
  /*background: #ccc;*/
}
span.icon{
  font-size:20px;
  padding-right:10px;
}
#showcase-content{
  background:white;
  border-radius:5px;
  padding:10px;
}
img.giphy-list{
  margin:5px;
  cursor: pointer;
}
#search_giphy_string{
  border-radius:30px !important;
  padding:5px 15px;
  font-size:15px !important;
}
.nav-btn{
  margin:0px 10px;
}
a.btn-login{
  background:white;
  border-radius:20px;
  border:2px solid rgba(40,150,150,1);
  padding:3px 50px !important;
  margin-top:10px !important;
  color:#333;
  font-weight:700;
}
input.btn-style{
  background:white;
  border-radius:20px;
  border:2px solid rgba(40,150,150,1);
  padding:3px 50px !important;
  margin-top:10px !important;
  color:#333;
  font-weight:700;
}
input.btn-style:hover{
  color:#fff !important;
  background:rgba(40,150,150,1) !important;
}
nav.custom-navbar a.dropdown-toggle{
  color:black;
}
a.btn-signup{
  background:white;
  border-radius:20px;
  border:2px solid rgba(40,150,150,1);
  padding:3px 30px !important;
  margin-top:10px !important;
  color:#333;
  font-weight:700;
}
a.nav-btn:hover{
  color:#fff !important;
  background:rgba(40,150,150,1) !important;
}
.giphy-group{
  margin:0 auto;
}
#section-search-result{
  height:480px;
  overflow-y: auto;
}
#share-option{
  display:inline;
}
.gravatar{
  width:40px;
  border:2px solid rgba(40,150,150,1);
  border-radius:20px;
  margin-top:10px;
  margin-right:10px;
}
.mini-gravatar{
  width:30px;
  border:2px solid rgba(40,150,150,1);
  border-radius:15px;
  margin:3px;
}
.large-gravatar{
  width:100px;
  /*border:2px solid rgba(40,150,150,1);*/
  position:relative;
  top:0;
  left:0;
}
.circle{
  width:100px;
  height:100px;
  /*background:white;*/
  border-radius:50px;
  /*border: 2px solid #444;*/
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  bottom:0;
  /*padding:10px;*/
}
