<div id="sort-title">Sign Up</div>

<div class="container center-block">
  <div class="signup-form">
    <form method="post" action="/local/signup">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email">
      </div>

      <div class="form-group">
        <label for="email">Password</label>
        <input class="form-control" type="password" name="password" id="password">
      </div>
      <input class="btn btn-style form-control" type="submit" value="SIGN ME UP">
    </form>
    <br/>
    <p class="text-center">Already a NotePress member? <a href="/local/login">Login</a></p>
  </div>
</div>